.profile__edit-button {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: block;
  align-self: center;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-image: url("../../../images/profile__edit-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7.5px 7.5px;
  margin-left: 10px;
}

@media screen and (min-width: 920px) {
  .profile__edit-button {
    margin-left: 18px;
    width: 24px;
    height: 24px;
    background-size: 10px 10px;
  }
}
