.auth__input {
  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.auth__input::placeholder {
  color: #ccc;
}
